*{
box-sizing: border-box;
margin: 0%;
padding: 0%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}
.mainNav ul li {
    padding: 0 10px;
}

.mainNav{
display: flex;
align-items:center;
justify-content: space-between;
height: 60px;
padding: 20px 0px;
font-size: 13px;
}

.mainNav ul {
    display: flex;
}
.mainNav.logo {
    width: 110px;
}

.mainNav ul .navItem2 {
    flex: 1;
    margin-left: 20px;
}
.mainNav ul li a {
    border-bottom: 2px;
}
.navItem3 a {
    margin-right: 20px;
}
.mainNav ul li:hover{
    border-bottom: 2px solid #262626;
    }
    /* menu*/
    .menu {
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
        z-index: 2;
        display: none;
    }
/* header*/
.btn {
    display: inline-block;
    cursor: pointer;
    background-color: #262626;
    color: #ffffff;
    padding: 10px 20px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
}
.btn:hover {
    opacity: calc(0.7);
}
.mainHeader{
    width:100%;
    height: 400px;
    background: url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;    
}

.mainHeader h2 .mainheader p {
    margin: auto;
}

.mainHeader .btn {
    margin-top:20px;
}
/* cards */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    margin-bottom: 40px;
}

.cards img {
    width: 100%;
    margin-bottom: 20px;
}

.cards h3 {
    margin-bottom: 5px;
}

.cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
    }

.cards a:hover i {
        margin-left: 10px;
    }

/* xbox Section*/

.xBoxSection {
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/tBJGPD9/xbox.png') no-repeat center center/cover;
    margin-bottom: 20px;
}

.xBox  {
    width: 40%;
    padding: 50px 0 0 30px;
}

.xBox P .section3 p {
    margin: 10px 0 20px;
}
/* cards2*/
.cards2 {
display: grid;
grid-template-columns: 2fr 1fr 1fr;
grid-template-rows: 25vh 5vh 5vh 5vh;
grid-gap:20px;
margin-bottom: 40px;
}

.cards2 img {
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    max-height: 100%;
   }
   

.cards2 h3 {
    margin-bottom: 5px;
}

.cards2 a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
    }

.cards2 a:hover i {
        margin-left: 10px;
    }
   /* section3*/
   .section3 {
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;
   }

   .carbon {
    width: 55%;
    padding: 100px 0 0 30px;
   }
.dark {
    color: #fff;
}
.dark .btn {
    background: #4f4f4f;
    color: #333;
}
.follow {
    display: flex;
    margin: 30px 0 30px;
    justify-content: flex-start;
    }

.follow p {
    margin-right: 10px;
    }
.follow a {
    margin-right: 10px;
}
/* links */

.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.innerLinks {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    grid-gap: 20px;
    align-items: flex-start;
}
.innerLinks li {
    line-height: 2.8;
}

/* footer */
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}
.footerInner {
display: flex;
max-width: 1100px;
margin: 0 auto;
padding: 0 20px 0 20px;
align-items: center;
justify-content: space-between;
}
 .footer ul {
    display: flex;
    flex-wrap: wrap;
 }
 
 .footer li {
    margin-right: 20px;
    margin-bottom: 20px;
 }

 .footer p {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
 }
 .footer i {
    margin-right: 10px;
 }

 @media(max-width: 700px){
    .menu {
        display: block;
    }
    .menu:hover{
        opacity: 0.5;
    }
    .mainNav .navItem2 {
        display: block;
        position: absolute;
        top: 0;
        left: 0 ;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: 0.5s ease-in-out;;
    }
    .mainNav .navItem2.show {
        transform: translateX(-20px);
    }
    .mainNav ul li {
        border: #ccc 1px solid;
        padding: 10px;
        font-size: 14px;
    }
    .mainNav ul li:nth-child(6){
        border-bottom: 0;
    }
    .mainNav .navItem3 {
        margin-right: 50px;
    }

    .cards2 {grid-template-columns: repeat(2, 1fr);
    }
    .cards {grid-template-columns: repeat(2, 1fr);
    }
    .xBox p {
        display: none;
    }
    .xBox h2 {
        margin-bottom: 20px;
    }
    .carbon {
        width: 85%;
    }
    .links .innerLinks {
        grid-template-columns: repeat(2, 1fr);
    }
 }
 @media(max-width: 500px){
    .cards2 {grid-template-columns: 1fr;
    }
    .cards {grid-template-columns:1fr;
    }
    .links .innerLinks {
        grid-template-columns: 1fr;
    }
    .links .innerLinks ul {
        margin-bottom: 20px;
    }
}